# VSCODE
/.vscode
# NODE
/node_modules
npm-debug.log
yarn.lock
yarn-error.log
# EXTRA
.openode
# CONFIG
.env
.env.*
/data/config.json
/data/*.sqlite3
okteto.yml
.env

package-lock.json
WebService/.next/*/*
